






@Scripts.Render("~/bundles/jquery");


<div class="jumbotron">
	<h1>ASP.NET</h1>
	<div>
		<label>Введите email</label><br />
		<input type="email" id="email" /> <br /><br />
		<label>Введите пароль</label><br />
		<input type="password" id="password" /><br /><br />
		<label>Подтвердите пароль</label><br />
		<input type="password" id="confirmpassword"/><br/><br/>
		<label>Test</label><br />
		<input type="text" id="test" /><br /><br />
		<input type="submit" id="submit" value="Регистрация" />
	</div>

	<script type="text/javascript">
		$(function () {
			$('#submit').click(function (e) {
				e.preventDefault();
				var data = {
					Email: 'qwerty@mail.com',
					Password: 123456,
					ConfirmPassword: 123456,
					GroupId: 1,
					LastName: 'LastName',
					FirstName: 'FirstName'
				};

				$.ajax({
					type: 'POST',
					url: '/api/Account/Register',
					contentType: 'application/json; charset=utf-8',
					data: JSON.stringify(data)
				}).success(function (data) {
					alert("Регистрация пройдена: " + data);
				}).fail(function (data) {
					alert("В процесе регистрации возникла ошибка: " + data);
				});
			});
		})
	</script>
</div>

<div class="userInfo" style="display:none;">
	<p>Вы вошли как: <span class="userName"></span></p>
	<input type="button" value="Выйти" id="logOut" />
</div>
<div class="loginForm">
	<h3>Вход на сайт</h3>
	<label>Введите email</label><br />
	<input type="email" id="emailLogin" /> <br /><br />
	<label>Введите пароль</label><br />
	<input type="password" id="passwordLogin" /><br /><br />
	<input type="submit" id="submitLogin" value="Логин" />
</div>
 
	<script type="text/javascript">
		$(function () {
			//...........................

			var tokenKey = "tokenInfo";
			$('#submitLogin').click(function (e) {
				e.preventDefault();
				var loginData = {
					grant_type: 'password',
					username: $('#emailLogin').val(),
					password: $('#passwordLogin').val()
				};

				$.ajax({
					type: 'POST',
					url: '/Token',
					data: loginData
				}).success(function (data) {
					$('.userName').text(data.userName);
					$('.userInfo').css('display', 'block');
					$('.loginForm').css('display', 'none');
					// сохраняем в хранилище sessionStorage токен доступа
					localStorage.setItem(tokenKey, data.access_token);
					console.log(data.access_token);
				}).fail(function (data) {
					alert('При логине возникла ошибка');
				});
			});

			$('#logOut').click(function (e) {
				e.preventDefault();
				sessionStorage.removeItem(tokenKey);
			});
		})
	</script>
 

<div>
	<input type="submit" id="getItemsButton" value="Получить данные" />
</div>
 
	<script type="text/javascript">
		$(function () {
			var tokenKey = "tokenInfo";
			//..................................
			$('#getItemsButton').click(function (e) {
				e.preventDefault();
				$.ajax({
					type: 'GET',
					url: '/api/values/',
					beforeSend: function (xhr) {

						var token = localStorage.getItem(tokenKey);
						xhr.setRequestHeader("Authorization", "Bearer " + token);
					},
					success: function (data) {
						alert(data);
					},
					error: function (data) {
						alert(data);
					}
				});
			});
		})
	</script>
 