<div ng-controller="departmentController" class="container">

	<div class="row">
		<div class="col-md-6">
			<h1 class="h-department">
				<span class="glyphicon glyphicon-briefcase"></span> Кафедры
			</h1>
		</div>
		<div class="col-md-6">
			<select ng-model="selectFacultyInfo.faculty" ng-options="faculty.Title for faculty in faculties" class="faculty-select-list">
				<!--<option value="">Выберите факультет</option>-->
			</select>
		</div>
	</div>

	<ul class="department-list">
		<li ng-repeat="dep in departments | departmentFilter : selectFacultyInfo.faculty.Id" ng-model="filteredDepartments.items" ng-click="select(dep)">
			<p class="h-speciality">{{dep.Title}}</p>
			<ul ng-repeat="spec in dep.Specialities" class="speciality-list">
				<li>{{spec.Number}} {{spec.Title}}</li>
			</ul>
		</li>
	</ul>

</div>