<div class="c-register">
    <div class="container">
        <div>
            <h2>
                <span class="glyphicon glyphicon-pencil"></span> Редактирование факультетов
            </h2>
        </div>
        <div>
            <form class="form-horizontal form-edit" role="form">
                <div ng-repeat="faculty in faculties" class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <input ng-model="faculty.Title" class="form-control text-box">
                    </div>
                    <div class="col-sm-1">
                        <span ng-click="remove(faculty)" class="glyphicon glyphicon-remove" title="Удалить"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-show="error">
            <div class="col-sm-offset-4 col-sm-4">
                <p class="error">{{errorMessage}}</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-offset-3 col-sm-1">
                <button ng-click="add()" type="button" class="btn btn-primary"> Добавить </button>
            </div>
            <div class="col-sm-1">
                <button ng-click="save()" type="button" class="btn btn-primary"> Сохранить </button>
            </div>
        </div>
        <br />
    </div>
</div>