<div ng-controller="facultyController" class="container">

    <h1 class="h-faculty">
        <span><span class="glyphicon glyphicon-education"></span> Факультеты <a href="#/faculty-edit" ng-show="accountState.isAdmin" title="Редактировать"><span class="glyphicon glyphicon-pencil edit"></span></a></span>
    </h1>

	<div class="c-facultiy-list">

		<ul class="facultiy-list">
			<li ng-repeat="faculty in faculties">
				<p ng-click="select(faculty)">{{faculty.Title}}</p>
			</li>
		</ul>

	</div>

</div>