<div ng-controller="subjectController" class="container">
	<div class="row">
		<div class="col-md-6">
			<h1 class="h-subject">
				<span class="glyphicon glyphicon-book"></span> Предметы <span ng-show="accountState.isAdmin" class="glyphicon glyphicon-pencil edit" title="Редактировать"></span>
			</h1>
		</div>
		<div class="col-md-6">
			<select ng-model="departments.select" ng-options="department.Title for department in faculties.select.Departments" class="department-select-list"></select>
		</div>
	</div>
	<div class="subjects">
        <div ng-repeat="subject in subjects" class="list-group" ng-show="subject.Categories.length">
            <a class="list-group-item active">
                <span class="glyphicon glyphicon-folder-open"></span><span class="h-subject-item">{{subject.SubjectTitle}}</span><span class="badge">{{subject.FilesCount}}</span>
            </a>
            <div ng-repeat="category in subject.Categories">
                <a class="list-group-item">
                    <span class="glyphicon glyphicon-folder-open"></span> {{category.Category}} <span class="badge">{{category.Files.Count}}</span>
                </a>
                <div class="c-table">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-duplicate"></span> Файлы </th>
                                <th>Автор</th>
                                <th>Дата</th>
                                <th>Загрузка</th>
                                <th>Голос</th>
                                <th ng-show="accountState.isAdmin">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in category.Files">
                                <td><span class="glyphicon glyphicon-file"></span> {{file.Description}} </td>
                                <td><span class="glyphicon glyphicon-user"></span> {{file.UserName}}</td>
                                <td><span class="glyphicon glyphicon-calendar"></span> {{file.DateOfCreate}}</td>
                                <td><span class="glyphicon glyphicon-save-file"></span> <a href="{{file.Url}}">Скачать</a></td>
                                <td><span class="glyphicon glyphicon-thumbs-up" ng-click="like(file)" ng-class="file.Liked && accountState.isAuthorize ? 'liked': ''"></span> {{file.Likes}}</td>
                                <td><span class="glyphicon glyphicon-remove" ng-show="accountState.isAdmin" title="Удалить"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>

</div>