<ul class="nav navbar-nav">
    <li><a ng-click="toTheTop()"><span class="glyphicon glyphicon-home"></span> Начало</a></li>
    <li><a ng-click="toFaculty()"><span class="glyphicon glyphicon-education"></span> Факультеты</a></li>
    <li><a ng-click="toDepartment()"><span class="glyphicon glyphicon-briefcase"></span> Кафедры</a></li>
    <li><a ng-click="toSubject()"><span class="glyphicon glyphicon-book"></span> Предметы</a></li>
    <li><a ng-click="toUpload()"><span class="glyphicon glyphicon-open-file"></span> Загрузить</a></li>
</ul>